<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="fps_arrow.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <fps_arrow.Properties.Settings>
            <setting name="OffsetX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OffsetY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LineWidth" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LineLen" serializeAs="String">
                <value>22</value>
            </setting>
            <setting name="LineSpace" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="Opacity" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="BorderLineLen" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BorderLineWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BorderLineDistance" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PointRadius" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="PointWidth" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PointFill" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Color" serializeAs="String">
                <value>red</value>
            </setting>
            <setting name="Screen" serializeAs="String">
                <value>1</value>
            </setting>
        </fps_arrow.Properties.Settings>
    </userSettings>
</configuration>